html {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  position: relative;
  min-height: 100%;
}
#people {
  margin-top: 30px;
}
.feed {
  min-height: 100%;
  margin-bottom: -30px;
}
.last-update{
  margin-top: 20px;
  border-top: 1px solid rgb(168, 236, 236);
  color: rgb(158, 238, 238);
}
.about{
  color: grey;
}
.title{
  font-weight: bold;
}
#user-item:hover{
  border: 1px solid rgb(10, 179, 179);
}

#main-btn {
  bottom: 62px;
  right: 41px;
}

.modal p {
  margin: 25px 0 0;
}

.modal-holder {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0,0,0,0.5);
  z-index: 3333333;
  height: 100%;
}


.modal-exit {
  float: right;
  font-size: 20px;
  position: relative;
  top: -11px;
  left: -7px;
  cursor: pointer;
}

.modal-exit:hover {
  color: #888;
}

.load-more {
  padding: 15px;
  border: 1px solid #00acc1;
  width: 100%;
  text-align: center;
  color: #000;
  -webkit-box-shadow: 0 0 18px #00acc1;
  box-shadow: 0 0 8px #00acc1;
  border-radius: 5px;
  cursor: pointer;
  display: block;
}

.load-more:hover {
  border: 1px solid #4abcca;
  color: #4abcca;
  -webkit-box-shadow: 0 0 13px #4abcca;
  box-shadow: 0 0 13px #4abcca;
}

#filter-select {
  position: fixed;
  top: 85px;
  right: 15%;
  width: 204px;
  border-top: 1px solid #888;
}

#filter-select input{
  color: #888;
}

#filter-select .select-wrapper .caret {
  fill: #888;
}

#block {
  display: block;
}

.none {
  display: none;
}

.error {
  color:tomato;
}

#show-modal {
  display: block;
  opacity: 1;
  top: 10%;
  transform: scaleX(1) scaleY(1);
  z-index: 333333333;
  overflow-y: initial;
}

#updateProfileWraper,#updateProfileFooter {
  background-color: #fff;
}

#updateProfileHolder {
  display: block;
}

.card.horizontal #updateProfileImg {
  max-width: 100%;
}

.card.horizontal #updateProfileImg img {
  margin-top: 17px;
  margin-left: 17px;
}

#uploadImageInput {
  margin-left: 17px;
  width: 100%;
}

#uploadBtn {
  width: 100%;
  margin-left: 17px;
}

#nameInputHolder {
  margin-top: 24px;
}

#nameInputHolder label {
  float: left;
}

.modal-close.waves-effect.waves.red.btn.close-btn {
  margin-right: 15px;
}

input#description, input#imageUrl {
  width: 94%;
  margin-bottom: 40px;
}

.profile-img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin: 50px auto;
  display: block;
  box-shadow: 0 0 8px #000;
}

.profile-about {
  margin-bottom: 60px;
}

.red {
  background-color: red;
}

.profile-holder {
  text-align: center;
}

.comment-holder {
  background: #00acc1;
  display: inline-block;
  text-align: left;
  width: 200px;
  margin: 0 auto;
  align-items: center;
  border-radius: 30px;
  line-height: 30px;
  color: white;
  margin-bottom: 10px;
  box-shadow: 0 0 8px #000;
}

.comment-holder i {
  line-height: 30px;
  padding: 0px;
  padding-left: 0px;
  font-size: 40px;
  color: white;
  position: relative;
  top: 7px;
  left: 3px;
}

.comment-holder span {
  line-height: 30px;
  color: white;
  position: relative;
  top: -8px;
  left: 12px;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  color: #fff;
  height: 30px;
  line-height: 30px;
}

footer .container {
  text-align: center;
}

.form {
  margin-top: 40px;
  margin-left: 10px;
}
.btn-small{
  margin-top: 22px;
}

.content{
  margin-top: 20px;
}
.username{
  color: #00acc1
}
.sk-cube-grid {
  width: 200px;
  height: 200px;
  margin: 100px auto;
}

.sk-cube-grid .sk-cube {
  width: 33%;
  height: 33%;
  background-color: #00acc1;
  float: left;
  -webkit-animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
          animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out; 
}
.sk-cube-grid .sk-cube1 {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s; }
.sk-cube-grid .sk-cube2 {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s; }
.sk-cube-grid .sk-cube3 {
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s; }
.sk-cube-grid .sk-cube4 {
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s; }
.sk-cube-grid .sk-cube5 {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s; }
.sk-cube-grid .sk-cube6 {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s; }
.sk-cube-grid .sk-cube7 {
  -webkit-animation-delay: 0s;
          animation-delay: 0s; }
.sk-cube-grid .sk-cube8 {
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s; }
.sk-cube-grid .sk-cube9 {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s; }

@-webkit-keyframes sk-cubeGridScaleDelay {
  0%, 70%, 100% {
    -webkit-transform: scale3D(1, 1, 1);
            transform: scale3D(1, 1, 1);
  } 35% {
    -webkit-transform: scale3D(0, 0, 1);
            transform: scale3D(0, 0, 1); 
  }
}

@keyframes sk-cubeGridScaleDelay {
  0%, 70%, 100% {
    -webkit-transform: scale3D(1, 1, 1);
            transform: scale3D(1, 1, 1);
  } 35% {
    -webkit-transform: scale3D(0, 0, 1);
            transform: scale3D(0, 0, 1);
  } 
}

#login{
  margin-top: 10%;
  
}
#login-text{
  padding: 50px;
}

#login-text h3{
  color:#00acc1 ;
}

#register:active{
  color:black;
}


@media only screen and (max-width: 601px) {
  #filter-select {
    right: 5% !important;
    width: 60px !important;
  }

  #filter-select input {
    font-size: 0 !important;
  }

  #filter-select ul li img{
    float: none;
    margin-left: 25px;
  }

  #filter-select .dropdown-content ul{
    height: auto !important;
  }

  #filter-select .dropdown-content li > span{
    font-size: 0px !important;
    padding: 0 !important;
  }

  #filter-select .dropdown-content li > img{
    margin-top: 20px;
  }
 
  #filter-select .select-wrapper .caret {
    height: 50px;
    width: 50px;
    right: -5px;
  }

}

@media only screen and (max-width: 992px) {
  #filter-select {
    right: 9%;
    width: 90px;
    float: right;
  }

  #filter-select ul.dropdown-content.select-dropdown{
    left: -10px !important;
  }

  #filter-select input, #filter-select .dropdown-content li > span{
    font-size: 13px;
  }

}

@media only screen and (min-width: 1700px) {
  #filter-select {
    right: 16%;
  }
}





    
